<div class="container">
<%= render 'search_form' %>
	<% if @recipes.blank? %>
	  <h4>There are no recipes containing the term <%= params[:search] %>.</h4>
	<% end %>
	<h2 class="text-center">Explore Recipes</h2>
</div>

<div class="container">
<% @recipes.each_slice(3) do |recipes| %>
		<div class="row">
			<% recipes.each do |recipe| %>
				<div class="col-md-4">
					<%= render partial: recipe %>					
				</div>
			<% end %>
		</div>
<% end %>

	<div class="paginate text-center">	
		<%= will_paginate @recipes, renderer: BootstrapPagination::Rails %>
	</div>
</div>



