<div class="row">
	<div class="col-md-8">
		<% @recipes.each do |recipe| %>
		    <div class="media">
         		<div class="media-body">
         		<%= link_to recipe do %>
         			<%= image_tag recipe.image.url(:medium) %>
           			<h4 class="media-heading">
						<%= link_to recipe.title, recipe %>
					</h4>
				<% end %>
				</div>
			</div>
		<% end %>

