<div>
	<p class="text-right">Signed in as: <strong><%= current_user.email %></strong></p>	
</div>


<!-- Hi, @user.name -->
<!-- link to current_user recipes, 3 columns per page -->
<!-- -->
<!-- -->
<!-- -->
