<div>
	<p class="text-right">Welcome, <%= @user.name %>!</p>	
</div>

<div class="">
	<h2 class="text-center">My Recipes</h2>
</div>

<h2>My recipes</h2>
<div>
	<%= render @user.recipes %>
</div>

<h2>My bookmarks</h2>
<div>
	<%= render @user.bookmarked_recipes %>
</div>