<div>
	<h4 class="text-right">Hi, <%= @user.first_name %>!</h4>	
</div>

<div>
	<h2 class="text-center">My Recipes</h2>
</div>

<div class="container">
	<% @user.recipes.each_slice(3) do |row| %>
		<div class="row">
			<% row.each do |recipe| %>
			<div class="col-md-4">
				<%= render partial: recipe %>					
			</div>
			<% end %>
		</div>
	<% end %>
</div>

<div class="paginate text-center">
	<%= will_paginate @recipes, renderer: BootstrapPagination::Rails %>
</div>

