<div>
	<p class="text-right">Welcome, <%= @user.name %>!</p>	
</div>


<!-- Hi, @user.name -->
<!-- link to current_user recipes, 3 columns per page -->
<!-- -->
<!-- -->
<!-- -->

<%= @user.recipes %>