<div class="form-group">
	<%= simple_form_for Tag.new do |f| %>
		<%= f.input :taggings, class: 'form-control', placeholder: "Enter tags separated by commas", value: tags.map(&:name).join(' ') %>
	<% end %>
</div>