<div class="row">
	<div class="col-md-8">
		<% @tags.each do |tag| %>
		    <div class="media">
         		<div class="media-body">
         		<%= link_to tag do %>
           			<h4 class="media-heading">
						<%= link_to tag.name, tag %>
					</h4>
				<% end %>
				</div>
			</div>
		<% end %>
	</div>
</div>


